.projects {
    margin: 30px 40px 30px 40px;
}

.projects button {
    background-color: rgba(20, 20, 20, 0.1);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-right: 20px;
}

.projects button:hover {
    background-color: rgba(20, 20, 20, 0.7);
    color: rgb(7, 211, 7);
    border: solid 2px rgb(7, 211, 7);
}


.projects > * {
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    user-select: none;
}




.popup {
    visibility: hidden;
    margin-left: 20px 0 20px 0;
}

.show {
    visibility: visible;
}

.pointer {
    cursor: pointer;
}

.underline-hover:hover {
    text-decoration: underline;
}

.white-color {
    color: white;
}

.yellow-color {
    color:rgb(229, 255, 0);;
}

.green-color {
    color: rgb(99, 240, 34);
}

.purple-color{
    color: rgb(252, 18, 232)
}

.slider-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.slider-container.end{
    justify-content: flex-end;
}

.slider-container > * {
    font-size:40px;
}

.slider-container.end > * {
    transform: rotate(180deg);
}

.green-hover{
    transition-duration: 0.4s;
}

.green-hover:hover {
    color: rgb(7, 211, 7);
} 

#smiley-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#smiley {
    font-size: 40px;
    
}

#smiley-slider {
    background: black;
}

#smiley-slider-container{
    display:flex;
    flex-direction: column;
}

#smiley-slider-container > *{
    margin-bottom: 15px; 
    display: flex;
}

#smiley-slider-container span{
    width: 90px;
}


#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#button-container button {
    margin: 5px 5px 5px 5px;
}