/* Styles for all Webpages */

body {
    background-image: url(https://images.pexels.com/photos/4590853/pexels-photo-4590853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "M PLUS 1p";
    font-weight: 400;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
}

.contentbody {
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 35px;
    margin: 40px;
    width: 85%;
    height: 90%;
    min-height: 800px;
    min-width: 400px;
}

.links {
    border-top: solid 2px rgba(214, 208, 208, 0.664);
    border-bottom: solid 2px rgba(214, 208, 208, 0.664);
    padding: 15px 0 15px 0;
    font-size: 20px;
    margin: 70px 40px 0 40px;
}

.links a {
    margin: 0 20px 0 0;
}

a {
    text-decoration: none;
    color: white;
}

button:active, button:focus{
    outline:none;

}



/* Styles for Contact */

.contact-info {
    margin-top: 80px;
    text-align: center;
}

.contact-info i {
    font-size: 70px;
    margin: 0 20px 0 20px;
}

/* Styles for Projects */

