body{
    background-image: url(https://images.pexels.com/photos/4590853/pexels-photo-4590853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position: stretch;
    background-size: cover;
    font-family: "M PLUS 1p";
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contentbody{
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 35px;
    margin: 40px;
    width: 85%;
    height: 80%;
    min-height: 800px;
    min-width: 400px;
  }
  


  .links{
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 15px 0 15px 0;
    font-size: 18px;
    margin: 70px 40px 0 40px;
  }

  .links a{
    margin: 0 20px 0 0;
  }
  
  h1{
    font-weight: 100;
    margin-bottom: 8px;
    margin-top: 40px;
  }


  a{
    text-decoration: none;
    color: white;
  }
  
  .profile-picture{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    margin: 60px auto 30px auto;
    display: block;
    border: solid 2px rgb(36, 34, 34);
  }

  .profile-name{
    text-align: center;
    font-size: 40px;
  }

  
  

  .description{     
      text-align: center;
      margin: 50px 0 0 0;
  }



  .contact-info{
      font-size: 20px;
      margin: 80px 40px 40px 40px;
      text-align: center;
  }


  .logos{
    height: 60px;
    width: 60px;
    border-radius: 0px;
    margin: 10px 10px 0 0;
  }
  